.topHeaderInfo {
    text-align: right;
    padding: 5px;
    justify-content: right;
    /*padding-right: 50px;*/
}

body {
    position: relative;
}

/*.anchor{
    display: block;
    position:absolute;
    top:85%;
    visibility: hidden;
}

.anchorPricing {
    display: block;
    position: absolute;
    top:230%;
    visibility: hidden;
}

.anchorAbout {
    display: block;
    position: absolute;
    top:290%;
    visibility: hidden;
}

.anchorContact {
    display: block;
    position: absolute;
    top:349%;
    visibility: hidden;
}*/

#logo {
    max-width: 375px; 
    max-height: 90px; 
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px #888888;
    margin-right: 27px;
}

#logoContainer {
    
}

#nav-style {
    font-size: 30px;
}
#services, #pricing, #about, #contact {
    /*display: inline-flex;*/
    /* margin-left: 65px; */
    /* margin-right: 65px; */
    /*width: 100%;*/
    margin-right: auto;
    padding-top: 50px;
}

#carouselImage {
    max-height: 508px;
    object-fit: cover;
    width: 100%; 
}

#repairContainer {
    /*margin: 10%; LEAVE THIS COMMENTED OUT*/
    /*margin-left: 30px;*/
    text-align: center;
    justify-content: center;
    /* max-width: 150px; LEAVE THIS COMMENTED OUT*/
    border-bottom-color: 'black';
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px #888888;
    padding: 5px;
}

#servicesBorder {
    border-bottom-style: solid;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 15px;
    color: #08373f;
}

#subHeaderFormat {
    margin-left: 10px;
}


